$screen-lg: 1199px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 575px;
$container-lg: 940px;
$container-md: 720px;
$container-sm: 540px;
$container-xs: 90%;
$margin-center: 0 auto;
$main-color: #C70101;
$main-color_focus: #FF0101;
$form-color: #4B4B4B;
$promo_text-color: #FFFFFF;
$features_text-color: #0D0D0D;
$consultation_text-color: #FFFFFF;
$card_text-color-1: #0D0D0D;
$card_text-color-2: #555555;
$review_text-color: #0D0D0D;
$map_text-color: #FFFFFF;